body {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-width: 100%;
  height: 100vh;
}

/*
 * this is a hack around this issue  https://github.com/palantir/blueprint/issues/3515
 * it enables users to interact with canvas while drawer is open
*/
.bp3-overlay-container {
  pointer-events: none;
}
.bp3-drawer {
  pointer-events: all;
}

.vertex--icon{
  pointer-events: none;
}